/* Dans votre fichier CSS principal */
.Toastify__toast {
    font-family: 'Votre police', sans-serif;
    border-radius: 8px;
}

.Toastify__toast--success {
    background-color: #2d9746cb;
}

.Toastify__toast--error {
    background-color: #a53e48b9;
}

.Toastify__toast--warning {
    background-color: #927314;
    color: #212529;
}

.Toastify__toast--info {
    background-color: #1f5d91;
}

.Toastify__progress-bar {
    height: 3px;
}